In [8]:
#list 

numbers = [1, 2, 3, 4, 5]

numbers.append(45)
numbers.remove(5)
print("numbers List:", numbers)
print("list numbers:", numbers[4])

numbers List: [1, 2, 3, 4, 45]
list numbers: 45

In [9]:
# tuple 
my_tuple = ("apple", "banana", "cherry")

# Printing the whole tuple
print("My Tuple:", my_tuple)

# Accessing elements by index
print("First item:", my_tuple[0])
print("Second item:", my_tuple[1])

My Tuple: ('apple', 'banana', 'cherry')
First item: apple
Second item: banana

In [10]:
# Simple Dictionary Example

# Creating a dictionary
student = {
    "name": "Deepak",
    "age": 20,
    "course": "B.Tech CSE AI&ds"
}

# Printing the whole dictionary
print("Student Info:", student)

# Accessing individual values
print("Name:", student["name"])
print("Age:", student["age"])
print("Course:", student["course"])

Student Info: {'name': 'Deepak', 'age': 20, 'course': 'B.Tech CSE AI&ds'}
Name: Deepak
Age: 20
Course: B.Tech CSE AI&ds

In [11]:
# Simple Set Example

# Creating a set
fruits = {"apple", "banana", "cherry","apple"}

# Displaying the set
print("Original Set:", fruits)

# Adding an item
fruits.add("orange")
print("After adding 'orange':", fruits)

# Removing an item
fruits.remove("banana")
print("After removing 'banana':", fruits)

# Checking membership
print("Is 'apple' in the set?", "apple" in fruits)

# Looping through the set
print("All items in the set:")
for fruit in fruits:
    print("-", fruit)

Original Set: {'cherry', 'banana', 'apple'}
After adding 'orange': {'orange', 'cherry', 'banana', 'apple'}
After removing 'banana': {'orange', 'cherry', 'apple'}
Is 'apple' in the set? True
All items in the set:
- orange
- cherry
- apple

In [12]:
# list comprihension and sum of squres

n = int(input("Enter a positive integer: "))

squares = [x**2 for x in range(1, n + 1)]

sum_of_squares = sum(squares)

print("Squares:", squares)
print("Sum of squares:", sum_of_squares)

Squares: [1, 4, 9, 16, 25]
Sum of squares: 55

In [13]:
# Take user input
n = int(input("Enter a positive integer: "))

# Use map and lambda to compute squares from 1 to n
squares = list(map(lambda x: x*2, range(1, n + 1)))

# Calculate the sum of squares
sum_of_squares = sum(squares)

# Display the result
print("Squares:", squares)
print("Sum of squares:", sum_of_squares)

Squares: [2, 4, 6, 8, 10]
Sum of squares: 30

In [14]:
# Take user input in one line, separated by space
nums = list(map(int, input("Enter numbers separated by space: ").split()))

# Use lambda and map to double the numbers
doubled = list(map(lambda x: x * 2, nums))

# Print the results
print("Original:", nums)
print("Doubled:", doubled)

Original: [5]
Doubled: [10]

In [15]:
def factorial(n):
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result

# Take input from user
num = int(input("Enter a non-negative integer: "))

if num < 0:
    print("Factorial is not defined for negative numbers.")
else:
    print(f"Factorial of {num} is: {factorial(num)}")

Factorial of 5 is: 120

In [16]:
# Sample data with duplicates
data = [10, 20, 20, 30, 40, 40, 50, 60, 60]

# Remove duplicates by converting to a set, then back to a list
unique_data = list(set(data))

# Filter values greater than 30
filtered_data = [x for x in unique_data if x > 30]

print("Original data:", data)
print("Unique data:", unique_data)
print("Filtered data (values > 30):", filtered_data)

Original data: [10, 20, 20, 30, 40, 40, 50, 60, 60]
Unique data: [40, 10, 50, 20, 60, 30]
Filtered data (values > 30): [40, 50, 60]

In [17]:
data = [10, 20, 10, 30, 40, 30, 50, 20]

# Using set to remove duplicates, preserving order
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            result.append(item)
            seen.add(item)
    return result

cleaned_data = remove_duplicates(data)
print("Original Data:", data)
print("Cleaned Data (duplicates removed):", cleaned_data)

Original Data: [10, 20, 10, 30, 40, 30, 50, 20]
Cleaned Data (duplicates removed): [10, 20, 30, 40, 50]

In [18]:
data = [12, -3, 7, 0, -1, 5, 10]

# Filter only positive values
positive_data = [x for x in data if x > 0]

print("Original Data:", data)
print("Filtered Data (positive only):", positive_data)

Original Data: [12, -3, 7, 0, -1, 5, 10]
Filtered Data (positive only): [12, 7, 5, 10]

In [19]:
names = ["Alice", "", "Bob", "Charlie", "", "David"]

# Remove empty strings
cleaned_names = [name for name in names if name != ""]

print("Original Names:", names)
print("Cleaned Names (empty removed):", cleaned_names)

Original Names: ['Alice', '', 'Bob', 'Charlie', '', 'David']
Cleaned Names (empty removed): ['Alice', 'Bob', 'Charlie', 'David']

In [20]:
raw_data = ["  apple ", "banana  ", "  cherry", " date "]

# Strip whitespace from each string
cleaned_data = [item.strip() for item in raw_data]

print("Raw Data:", raw_data)
print("Cleaned Data (whitespace removed):", cleaned_data)

Raw Data: ['  apple ', 'banana  ', '  cherry', ' date ']
Cleaned Data (whitespace removed): ['apple', 'banana', 'cherry', 'date']

In [21]:
data = [10, None, 20, None, 30, 40, None]

# Replace None with 0
cleaned_data = [x if x is not None else 0 for x in data]

print("Original Data:", data)
print("Cleaned Data (None replaced with 0):", cleaned_data)

Original Data: [10, None, 20, None, 30, 40, None]
Cleaned Data (None replaced with 0): [10, 0, 20, 0, 30, 40, 0]

In [22]:
data = {
    "John": 25,
    "Alice": 30,
    "Bob": 19,
    "Diana": 17
}

# Filter entries where age is >= 20
filtered_data = {k: v for k, v in data.items() if v >= 20}

print("Original Data:", data)
print("Filtered Data (age >= 20):", filtered_data)

Original Data: {'John': 25, 'Alice': 30, 'Bob': 19, 'Diana': 17}
Filtered Data (age >= 20): {'John': 25, 'Alice': 30}

In [23]:
data = [
    {"id": 1, "name": "John"},
    {"id": 2, "name": "Alice"},
    {"id": 1, "name": "John"},
    {"id": 3, "name": "Bob"}
]

# Remove duplicates based on 'id'
def remove_dict_duplicates(lst, key):
    seen = set()
    result = []
    for d in lst:
        val = d[key]
        if val not in seen:
            result.append(d)
            seen.add(val)
    return result

cleaned_data = remove_dict_duplicates(data, "id")
print("Original Data:", data)
print("Cleaned Data (duplicates removed by id):", cleaned_data)

Original Data: [{'id': 1, 'name': 'John'}, {'id': 2, 'name': 'Alice'}, {'id': 1, 'name': 'John'}, {'id': 3, 'name': 'Bob'}]
Cleaned Data (duplicates removed by id): [{'id': 1, 'name': 'John'}, {'id': 2, 'name': 'Alice'}, {'id': 3, 'name': 'Bob'}]